
<h1>Edit post</h1>

		<p class='navigation'>
			<%= link_to "Back", root_path %>
		</p>

<%= form_for(@post) do |f| %>
  <div>
  	<p><%= f.label :title %></p>
    <%= f.text_field :title %>
  </div>
  <div>
   	<p><%= f.label :body %></p>
    <%= f.text_area :body %>
  </div>

  <div>
    <p><%= f.submit "Save post" %>
  	<p><%= link_to "Cancel", @post %>
  </div>
<% end %>