
<h1>New post</h1>

<%= form_for(@post, url: '/posts') do |f| %>
  <div>
  	<p><%= f.label :title %></p>
    <%= f.text_field :title %>
  </div>
  <div>
   	<p><%= f.label :body %></p>
    <%= f.text_area :body %>
  </div>

  <div>
  	<p><%= f.submit "Save post" %>
  </div>
<% end %>